.nav {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.navList {
  display: flex;
  justify-content: space-around;
}

.navList li {
  font-size: 28px;
}

.nav a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 5px 0;
  font-weight: normal;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: rgb(140, 73, 202);
}

.nav .active {
  font-weight: bold;
  color: rgb(97, 25, 165);
}
